<%- include('partials/header') -%>

<div class="hero min-h-screen" style="background-image: url(../imgs/photo_collage_frontpage.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-6 text-7xl font-bold">This is FotoFilter</h1>
        <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button onclick="location.href='/login'"  class="btn btn-secondary">Login</button>
        <button onclick="location.href='/signup'"  class="btn btn-secondary">Signup</button>
      </div>
    </div>
  </div>
    

<%- include('partials/footer') -%>