<%- include('partials/header') -%>

<div class="hero min-h-screen" style="background-image: url(../imgs/photo_collage_frontpage.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-6 text-7xl font-bold">This is Privagram!</h1>
        <p class="mb-5">Upload and share with your friends the funniest photos of the gathering that aren't allow in your socials.</p>
        <button onclick="location.href='/login'"  class="btn btn-secondary">Login</button>
        <button onclick="location.href='/signup'"  class="btn btn-secondary">Signup</button>
      </div>
    </div>
  </div>
    

<%- include('partials/footer') -%>